@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@300;400&display=swap');
/* width */
::-webkit-scrollbar {
  width: 10px;
  height:10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light-dark);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark);
}
:root{
  --dark:#3e3e3e;
  --light-dark:#535353;
  --light:#f1f1f1;
  --font:'Grandstander', cursive;
}
body{
  font-family: var(--font) ;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
.container{
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  width: 100%;
  max-width: 1650px;
}
.header{
  flex-shrink: 0;
  width: 100%;
  min-height:389px;
  background-color: var(--dark);
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  color: #fff;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.header__nav{
  position: absolute;
  top: 5px;
  right: 30px;
  padding: 5px 10px;
}
.header__close--btn{
  position: absolute;
  font-size: 3em;
  cursor: pointer;
  z-index: 1001;
}
.header__right-box{
  display: none;
}
.header__menu{
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  transition: 500ms ease-in-out;
  height: 100vh;
  max-height: 700px;
  background-color: #333;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.toggel{
  width: 100%;
}
.header__menu li {
  flex-basis: 33.33%;
  flex-shrink: 0;
  width: 100%;
  text-align: center;
  padding: 15px;
}
.header__menu li a{
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: #ccc; 
}
.header__menu li span:first-child{
  font-size: 3em;
  color: var(--light);
}
.header__menu li:hover > a { 
  color: #fff;
}
.header__title{
  letter-spacing: 1px;
  font-size:1.7rem;
  margin: 20px 0;
  text-align: center;
}
.header__details{
  letter-spacing: 1px;
  font-size: 2.4rem;
  margin: 15px 0  0;
  display: none;
}
.header__btn--scroll{
 display: none;   
}
@media only screen and (min-width:350px) {
  .header__title{
    font-size:2rem;
  }
}
@media only screen and (min-width:500px){
  .header{
    padding: 0 30px;
  }
  .header__title{
    margin: 0;
  }
  .header__details{
    display: block;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
    line-height: 2rem;
  }
}
@media only screen and (min-width:941px){
  .header{
    height: 100vh;
    max-height: 700px;
  }
  .header__title{ 
    font-size:3rem;
    text-align: center;
  }
  .header__details{
    font-size:1.5rem;
  }
  .header__left-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__btn--scroll{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid var(--light);
    outline: 0;
    transform: scale(1);
    transition: transform 250ms ease-in-out;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    transition: 300ms ease-in-out;
  }
  .header__btn--scroll:hover{
    color: var(--dark);
    background-color: #fff;
  }
  .header__left-box{
    margin-top: 50px;
    flex: 1 1 70%;
  }
  .header__btn--scroll:active{
    transform: scale(1.2);
  }
  .header::before{
    content: " ";
    display: inline-block;
    position: absolute;
    width: 35px;
    height: 55px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 30px;
    bottom: 10px;
  }
  .header::after{
    content: " ";
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    bottom:45px;
    animation: scrolling 1.5s infinite;
  }
}
@media only screen and (min-width:1060px){
  .header{
    flex-wrap: nowrap;
    gap: 0 20px;
  }
  .header__left-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .header__right-box{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__comingsoon{
    width: 350px;
    max-height: 450px;
    border: 1px solid #ccc;
  }
  
  .header__title{
    font-size:2.6rem;
    text-align: left;
  }
  .header__details{
    font-size:1.8rem;
    line-height: 2.7rem;
    text-align: left;
  }
}

@keyframes scrolling{
  0%{
    transform: translateY(-5px);
    opacity: 0.1;
  }
  100%{
    transform: translateY(30px);
    opacity: 1;
  }
}
#main{
  flex-grow: 1;
  width: 100%;
  padding:15px;
  display: flex;
  gap: 5px 0;
  flex-direction: column;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='197' height='197' viewBox='0 0 200 200'%3E%3Cg fill='none' stroke='%23000000' stroke-width='0.3' stroke-opacity='0.19'%3E%3Crect x='-40' y='40' width='75' height='75'/%3E%3Crect x='-35' y='45' width='65' height='65'/%3E%3Crect x='-30' y='50' width='55' height='55'/%3E%3Crect x='-25' y='55' width='45' height='45'/%3E%3Crect x='-20' y='60' width='35' height='35'/%3E%3Crect x='-15' y='65' width='25' height='25'/%3E%3Crect x='-10' y='70' width='15' height='15'/%3E%3Crect x='-5' y='75' width='5' height='5'/%3E%3Crect width='35' height='35'/%3E%3Crect x='5' y='5' width='25' height='25'/%3E%3Crect x='10' y='10' width='15' height='15'/%3E%3Crect x='15' y='15' width='5' height='5'/%3E%3Crect x='40' width='75' height='75'/%3E%3Crect x='45' y='5' width='65' height='65'/%3E%3Crect x='50' y='10' width='55' height='55'/%3E%3Crect x='55' y='15' width='45' height='45'/%3E%3Crect x='60' y='20' width='35' height='35'/%3E%3Crect x='65' y='25' width='25' height='25'/%3E%3Crect x='70' y='30' width='15' height='15'/%3E%3Crect x='75' y='35' width='5' height='5'/%3E%3Crect x='40' y='80' width='35' height='35'/%3E%3Crect x='45' y='85' width='25' height='25'/%3E%3Crect x='50' y='90' width='15' height='15'/%3E%3Crect x='55' y='95' width='5' height='5'/%3E%3Crect x='120' y='-40' width='75' height='75'/%3E%3Crect x='125' y='-35' width='65' height='65'/%3E%3Crect x='130' y='-30' width='55' height='55'/%3E%3Crect x='135' y='-25' width='45' height='45'/%3E%3Crect x='140' y='-20' width='35' height='35'/%3E%3Crect x='145' y='-15' width='25' height='25'/%3E%3Crect x='150' y='-10' width='15' height='15'/%3E%3Crect x='155' y='-5' width='5' height='5'/%3E%3Crect x='120' y='40' width='35' height='35'/%3E%3Crect x='125' y='45' width='25' height='25'/%3E%3Crect x='130' y='50' width='15' height='15'/%3E%3Crect x='135' y='55' width='5' height='5'/%3E%3Crect y='120' width='75' height='75'/%3E%3Crect x='5' y='125' width='65' height='65'/%3E%3Crect x='10' y='130' width='55' height='55'/%3E%3Crect x='15' y='135' width='45' height='45'/%3E%3Crect x='20' y='140' width='35' height='35'/%3E%3Crect x='25' y='145' width='25' height='25'/%3E%3Crect x='30' y='150' width='15' height='15'/%3E%3Crect x='35' y='155' width='5' height='5'/%3E%3Crect x='200' y='120' width='75' height='75'/%3E%3Crect x='40' y='200' width='75' height='75'/%3E%3Crect x='80' y='80' width='75' height='75'/%3E%3Crect x='85' y='85' width='65' height='65'/%3E%3Crect x='90' y='90' width='55' height='55'/%3E%3Crect x='95' y='95' width='45' height='45'/%3E%3Crect x='100' y='100' width='35' height='35'/%3E%3Crect x='105' y='105' width='25' height='25'/%3E%3Crect x='110' y='110' width='15' height='15'/%3E%3Crect x='115' y='115' width='5' height='5'/%3E%3Crect x='80' y='160' width='35' height='35'/%3E%3Crect x='85' y='165' width='25' height='25'/%3E%3Crect x='90' y='170' width='15' height='15'/%3E%3Crect x='95' y='175' width='5' height='5'/%3E%3Crect x='120' y='160' width='75' height='75'/%3E%3Crect x='125' y='165' width='65' height='65'/%3E%3Crect x='130' y='170' width='55' height='55'/%3E%3Crect x='135' y='175' width='45' height='45'/%3E%3Crect x='140' y='180' width='35' height='35'/%3E%3Crect x='145' y='185' width='25' height='25'/%3E%3Crect x='150' y='190' width='15' height='15'/%3E%3Crect x='155' y='195' width='5' height='5'/%3E%3Crect x='160' y='40' width='75' height='75'/%3E%3Crect x='165' y='45' width='65' height='65'/%3E%3Crect x='170' y='50' width='55' height='55'/%3E%3Crect x='175' y='55' width='45' height='45'/%3E%3Crect x='180' y='60' width='35' height='35'/%3E%3Crect x='185' y='65' width='25' height='25'/%3E%3Crect x='190' y='70' width='15' height='15'/%3E%3Crect x='195' y='75' width='5' height='5'/%3E%3Crect x='160' y='120' width='35' height='35'/%3E%3Crect x='165' y='125' width='25' height='25'/%3E%3Crect x='170' y='130' width='15' height='15'/%3E%3Crect x='175' y='135' width='5' height='5'/%3E%3Crect x='200' y='200' width='35' height='35'/%3E%3Crect x='200' width='35' height='35'/%3E%3Crect y='200' width='35' height='35'/%3E%3C/g%3E%3C/svg%3E");
}
.title-part{
  width: 100%;
  padding: 0 6px;
  color: var(--dark);
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  align-items: center;
  overflow: auto;
  padding-bottom: 10px;
}
.title-part h2 {
  flex-shrink: 0;
    display: inline-block;
    margin: 0;
    font-size: 1.2em;
}
.tag-wrapper{
  border: 1px solid var(--dark);
  cursor: pointer;
  padding: 2px 5px;
  display: flex;
  justify-content: center;
  gap: 0 5px;
  align-items: center;
}
.tag-wrapper input{
  cursor: pointer;
}
.tag{
  font-size: 1.4em;
  margin-top: 6px;
  cursor: pointer;
}
.projects-box{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}
.box,.vote{
  width:100%;
  /* max-height: 315px; */
  border: 1px solid var(--dark);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #fff;
}
.vote{
  justify-content: start;
  align-items: center;
}
.box__title,.box__description,.vote__title{
  font-family:inherit;
  padding: 10px;
  margin: 5px 0 ;
  border-left: 3px solid var(--light-dark);  
}
.vote__title{
  border: 0;
  margin: 0;
  border-top: 3px solid var(--light-dark); 
}
.header__comingsoon .box__title,.header__comingsoon .box__description {
  border-left: 3px solid var(--light); 
}
.title__text,.description__text--title{
  font-size: 1.2rem;
  color:var(--dark);
}
.description__text{
  font-size: 1rem;
  color:var(--dark);
  line-height: 1.4em;
}
.charts{
  width: 100%;
  padding: 15px;
  display: flex;
  flex-flow: column;
  gap: 20px;
}
.charts__chart{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0 20px
}
.charts__label{
  width: 15%;
}
.charts__progress{
  width: 75%;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
  background-color: #eee;
  border-radius: 5px;
  height: 8px;
}

.charts__bar{
  width: 55%;
  height: 100%;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  align-items: center;
  color: var(--light);
  background-color: var(--dark)
}
.charts__text-bar{
  width: 10%;
  font-size: 0.9em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.box__footer,.vote__footer{
  width: 100%;
  padding: 10px;
}
.vote__footer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
}
.footer__btn,.vote-footer-btn{
  border: 1px solid var(--dark);
  padding: 10px;
  font-family: var(--font);
  font-weight: bold;
  color: var(--dark);
  display: inline-block;
  transition:  background 300ms ease-in-out,color 300ms ease-in-out;
}
.footer__btn:hover,.vote-footer-btn:hover{
  color: #fff;
  background-color:var(--dark);

}

@media only screen and (min-width:500px){
  .box,.vote{
    width:calc(50% - 10px)
  }
}
@media only screen and (min-width:941px){
  .projects-box{
    gap: 10px;
  }
  .box,.vote{
    width:calc(33.33% - 10px)
  }
}
@media only screen and (min-width:1060px){
  .box,.vote{
    width:calc(25% - 10px)
  }
  .title__text{
    font-size: 1.3rem;
  }
}
.part2{
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: unset;
  padding: 15px 0;
}
.part2 h2 {
  width: 100%;
  text-align: center;
  font-size: 1.7em;
}
.footer{
  width: 100%;
  background-color: var(--dark);
  border-top:1px solid  var(--light-dark);
  font-family:var(--font);
  color: #fff;
  padding: 12px 0;
  text-align: center;
  font-size: 1.2rem;
}
.footer p {
  margin: 0;
}
.footer p a {
  color: #fff;
}
.footer p a:hover{
  color: #ccc;
}

.light{
  color: var(--light);
}
.btn-light{
  border: 1px solid var(--light);
  color: var(--light);
  pointer-events: none;
}