body{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),0 3px 14px 2px rgba(0, 0, 0, 0.12),0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.video-wrapper__video{
  width: 100%;
  height: 100%;
}
.video-wrapper__video-controls{
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  overflow: hidden;
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: height 500ms ease-in-out;
}
.video-wrapper__video-controls > *{
  opacity: 0;
  transition: all 250ms ease-in-out;
}
.video-wrapper:hover .video-wrapper__video-controls{
  height: 40px;
}
.video-wrapper:hover .video-wrapper__video-controls > *{
  opacity: 1;
}
.icon{
  font-size:1.5em;
  color: #f1f1f1;
  cursor: pointer;
  margin-right: 10px;
}
.play{
  margin-left: 10px;
}
.time{
  color: #fff;
  font-size: 0.9em;
  margin-right: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.full{
  margin-left: auto;
}
#progress{
  appearance: none;
  outline: none;
  border: none;
  /* background: linear-gradient(90deg, #ff3020 90%, #e1e1e1 0%); */
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 4px;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}
#progress::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 1px;
  height: 1px;
  background-color: transparent;
}
.video-wrapper:hover #progress{
  bottom: 40px;

}
.volume-profress{
  appearance: none;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 0px;
  height: 4px;
  transition: all 500ms ease-in-out;
  margin-right: 0px;
  background: linear-gradient(90deg, #ff3020 80%, #e1e1e1 0%);
}
.volume-profress::-webkit-slider-thumb{
  -webkit-appearance: none;
  opacity: 0;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  transition: 200ms ease-in;
}
.wrapper-vol{
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-vol:hover > .volume-profress{
  width: 80px;
  margin-right: 10px;
}
.wrapper-vol:hover > .volume-profress::-webkit-slider-thumb{
  opacity: 1;
}